@page "/wifis/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h1>Create Wifis</h1>

<a href="/wifis/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Wifi
</a>
<br />
<br />

<a href="/wifis/comparisons" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Compare Wifis
</a>
<br />
<br />

@if (Wifis == null)
{
    <div class="alert alert-info">Loading Wifis...</div>
}

else
{
    <table class="table table-responsive">
        <thread>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var wifi in Wifis)
            {
                <tr>
                    <td>@wifi.WifiName</td>
                    <td>
                        <a href="/wifis/view/@wifi.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/wifis/edit/@wifi.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(wifi.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private List<Wifi>? Wifis;

    protected async override Task OnInitializedAsync()
    {
        Wifis = await _client.GetFromJsonAsync<List<Wifi>>($"{Endpoints.WifisEndpoint}");
    }

    async Task Delete(int WifiId)    
    {
        if (Wifis != null)
        {
            var Wifi = Wifis.First(q => q.Id == WifiId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {Wifi.WifiName}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.WifisEndpoint}/{WifiId}");
                await OnInitializedAsync();
            }
        }
    }
}