@page "/Audio"

<PageTitle>Audio</PageTitle>
<!DOCTYPE html>
<html>
    <body>
        <div class="images-container">
            <div class="double">
            <img src="https://www.beatsbydre.com/content/dam/beats/web/product/earbuds/beats-fit-pro/pdp/product-carousel/tidal-blue/pc-fit-pro-tidal-blue-case-closed-floating.jpg.large.2x.jpg" alt="Learn HTML5" height="100" width="160">
                <p> </p>
                <p>Name: ProSeries Zenbook3</p>
                <p>Price: $900</p>
                <p>Specs: ...</p>
            </div>
            <div1 class="double">
            <img src="https://www.beatsbydre.com/content/dam/beats/web/product/earbuds/beats-fit-pro/pdp/product-carousel/tidal-blue/pc-fit-pro-tidal-blue-case-closed-floating.jpg.large.2x.jpg" alt="Learn HTML5" height="100" width="160">
                <p> </p>
                <p>Name: ProSeries Zenbook3</p>
                <p>Price: $900</p>
                <p>Specs: ...</p>
            </div1>
        </div>
        <div class="images-container">
            <div class="double">
            <img src="https://www.beatsbydre.com/content/dam/beats/web/product/earbuds/beats-fit-pro/pdp/product-carousel/tidal-blue/pc-fit-pro-tidal-blue-case-closed-floating.jpg.large.2x.jpg" alt="Learn HTML5" height="100" width="160">
                <p> </p>
                <p>Name: ProSeries Zenbook3</p>
                <p>Price: $900</p>
                <p>Specs: ...</p>
            </div>
            <div1 class="double">
            <img src="https://www.beatsbydre.com/content/dam/beats/web/product/earbuds/beats-fit-pro/pdp/product-carousel/tidal-blue/pc-fit-pro-tidal-blue-case-closed-floating.jpg.large.2x.jpg" alt="Learn HTML5" height="100" width="160">
                <p> </p>
                <p>Name: ProSeries Zenbook3</p>
                <p>Price: $900</p>
                <p>Specs: ...</p>
            </div1>
        </div>
    </body> 
</html>
