@page "/Computer"

<PageTitle>Computer</PageTitle>
<!DOCTYPE html>
<html>
<body>
    <div class="images-container">
        <div class="double">
            <img src="https://www.bhphotovideo.com/images/images1000x1000/dell_x8700_6876blk_xps_8700_i_4790_24gb_2tb_256ssd_windows8_1_1115739.jpg" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div>
        <div1 class="double">
            <img src="https://www.bhphotovideo.com/images/images1000x1000/dell_x8700_6876blk_xps_8700_i_4790_24gb_2tb_256ssd_windows8_1_1115739.jpg" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div1>
    </div>
    <div class="images-container">
        <div class="double">
            <img src="https://www.bhphotovideo.com/images/images1000x1000/dell_x8700_6876blk_xps_8700_i_4790_24gb_2tb_256ssd_windows8_1_1115739.jpg" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div>
        <div1 class="double">
            <img src="https://www.bhphotovideo.com/images/images1000x1000/dell_x8700_6876blk_xps_8700_i_4790_24gb_2tb_256ssd_windows8_1_1115739.jpg" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div1>
    </div>
</body>
</html>
