@page "/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1 class="N-MidBox">
    <span style='border:2px black solid; font-size:42px;'>
        News & Reviews
   </span>
</h1>

<div>
    <div id="cent">
        <h2 class="h2">
            Our reviews
        </h2>
        @if (Review != null && Review.Any())
        {
            var randomReview = Review[new Random().Next(Review.Count)];

            <p>@randomReview.RevContent</p>
        }
        else
        {
            <p>No reviews available.</p>
        }
    </div>
</div>

@code{
    private List<SchoolProject.Shared.Domain.Reviews>? Review;

    protected async override Task OnInitializedAsync()
    {
        Review = await _client.GetFromJsonAsync<List<SchoolProject.Shared.Domain.Reviews>>($"{Endpoints.ReviewsEndpoint}");
    }
}