@page "/"

<PageTitle>Index</PageTitle>

<h1 class="N-MidBox">
    <span style='border:2px black solid; font-size:42px;'>
        News & Reviews
   </span>
</h1>

<div>
    <div id="cent">
        <h2 class="h2">
            Our reviews
        </h2>
        <p class="Text-MidBox">Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text</p>
    </div>
</div>