@page "/Laptop"

<PageTitle>Laptop</PageTitle>
<!DOCTYPE html>
<html>
<body>
    <div class="images-container">
        <div class="double">
            <img src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/xps-notebooks/xps-13-9320/media-gallery/xs9320t-cnb-00005ff090-sl-oled.psd?fmt=png-alpha&pscan=auto&scl=1&hei=402&wid=628&qlt=100,1&resMode=sharp2&size=628,402&chrss=full" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div>
        <div1 class="double">
            <img src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/xps-notebooks/xps-13-9320/media-gallery/xs9320t-cnb-00005ff090-sl-oled.psd?fmt=png-alpha&pscan=auto&scl=1&hei=402&wid=628&qlt=100,1&resMode=sharp2&size=628,402&chrss=full" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div1>
    </div>
    <div class="images-container">
        <div class="double">
            <img src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/xps-notebooks/xps-13-9320/media-gallery/xs9320t-cnb-00005ff090-sl-oled.psd?fmt=png-alpha&pscan=auto&scl=1&hei=402&wid=628&qlt=100,1&resMode=sharp2&size=628,402&chrss=full" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div>
        <div1 class="double">
            <img src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/xps-notebooks/xps-13-9320/media-gallery/xs9320t-cnb-00005ff090-sl-oled.psd?fmt=png-alpha&pscan=auto&scl=1&hei=402&wid=628&qlt=100,1&resMode=sharp2&size=628,402&chrss=full" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div1>
    </div>
</body>
</html>
