@page "/Phone"

<PageTitle>Phone</PageTitle>
<!DOCTYPE html>
<html>
<body>
    <div class="images-container">
        <div class="double">
            <img src="https://fdn.gsmarena.com/imgroot/static/headers/makers/apple-2023-1.jpg" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div>
        <div1 class="double">
            <img src="https://fdn.gsmarena.com/imgroot/static/headers/makers/apple-2023-1.jpg" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div1>
    </div>
    <div class="images-container">
        <div class="double">
            <img src="https://fdn.gsmarena.com/imgroot/static/headers/makers/apple-2023-1.jpg" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div>
        <div1 class="double">
            <img src="https://fdn.gsmarena.com/imgroot/static/headers/makers/apple-2023-1.jpg" alt="Learn HTML5" height="100" width="160">
            <p> </p>
            <p>Name: ProSeries Zenbook3</p>
            <p>Price: $900</p>
            <p>Specs: ...</p>
        </div1>
    </div>
</body>
</html>
