@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SchoolProject</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <LoginDisplay/>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Log in
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Phone">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Phones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="laptop/display">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Laptop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Computer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Computers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Audio">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Audio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Reviews">
                <span class="oi oi-plus" aria-hidden="true"></span> Reviews
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cpus">
                <span class="oi oi-plus" aria-hidden="true"></span> Cpu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gpus">
                <span class="oi oi-plus" aria-hidden="true"></span> Gpu
            </NavLink>
        </div>        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rams">
                <span class="oi oi-plus" aria-hidden="true"></span> Ram 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="screens">
                <span class="oi oi-plus" aria-hidden="true"></span> Screen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wifis">
                <span class="oi oi-plus" aria-hidden="true"></span> Wifi
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="oss">
                <span class="oi oi-plus" aria-hidden="true"></span> Os
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="laptops">
                <span class="oi oi-plus" aria-hidden="true"></span> Laptop
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }
}
