@page "/rams/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h1>Create Rams</h1>

<a href="/rams/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Ram
</a>
<br />
<br />

<a href="/rams/comparisons" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Compare Rams
</a>
<br />
<br />

@if (Rams == null)
{
    <div class="alert alert-info">Loading Rams...</div>
}

else
{
    <table class="table table-responsive">
        <thread>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var ram in Rams)
            {
                <tr>
                    <td>@ram.RamBrand</td>
                    <td>
                        <a href="/rams/view/@ram.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/rams/edit/@ram.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(ram.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private List<Ram>? Rams;

    protected async override Task OnInitializedAsync()
    {
        Rams = await _client.GetFromJsonAsync<List<Ram>>($"{Endpoints.RamsEndpoint}");
    }

    async Task Delete(int RamId)    
    {
        if (Rams != null)
        {
            var Ram = Rams.First(q => q.Id == RamId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {Ram.RamBrand}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.RamsEndpoint}/{RamId}");
                await OnInitializedAsync();
            }
        }
    }
}